extends ../layout

block content
  div(class='admin-index-bar row m-0')
    div(class='menu-column col-2 py-3')
      div(class='user-info-bar') 
        p(class='username-bar') #{userName} #{userSurname}
          img(src=`/images/avatars/${userAvatar}.jpg`, alt="" class='user-avatar')
      div(class='buttons-bar p-3')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('About', '/admin/about-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('News', '/admin/news-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('Project', '/admin/project-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('Quizes', '/admin/quizes-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Users', '/admin/users-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Media', '/admin/media-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Settings', '/admin/settings-list')
    div(class='content-column col-10 py-5')
        h3(class='title-admin-page') #{title}
        div(class='add-buttons-bar')
            button(class='btn btn-dark mx-1')
                a(href="/admin/about/add") Dodaj
            button(class='btn btn-dark mx-1')
                a(href="/about") Podgląd
        div(class='list-bar')
          table(class='table table-striped table-hover')
            tr
              th id 
              th tytuł
              th data dodania 
              th Autor
              th akcja
            each item, index in data 
              tr
                td=index + 1
                td=item.title 
                td #{item.created.getFullYear()}:#{item.created.getMonth() + 1}:#{item.created.getDate()}
                td=item.author
                td 
                  a(href=`/admin/abouts/delete/${item._id}`)
                    button(class='action-btn btn btn-danger mx-1') usuń
                  a(href=`/admin/abouts/edit/${item._id}`)
                    button(type="button" class='action-btn btn btn-warning mx-1') edytuj 
                  a(href=`/admin/abouts/show/${item._id}`)
                    button(class='action-btn btn btn-success mx-1') pokaż