extends ../layout

block content
  div(class='admin-index-bar row m-0')
    div(class='menu-column col-2 py-5')
      div(class='user-info-bar') 
        p(class='username-bar') #{userName} #{userSurname}
          img(src=`/images/media/${userAvatar}`, alt="" class='user-avatar')
      div(class='buttons-bar p-3')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('About', '/admin/about-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('News', '/admin/news-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('Project', '/admin/project-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('Quizes', '/admin/quizes-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Users', '/admin/users-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Media', '/admin/media-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Settings', '/admin/settings-list')
    div(class='content-column col-10 py-5')
      div(class='row m-0')
        div(class='menu-media col-4')
          a(href="media/add")
            button(class='btn btn-primary me-1') Dodaj plik
          a(href="media/addgallery")
            button(class='btn btn-primary me-1') Dodaj galerię
          a(href="/admin/media-list")
            button(class='btn btn-success me-1') Obrazy
          a(href="/admin/gallerys-list")
            button(class='btn btn-warning me-1') Galerie
        div(class='search-media col-4')
            form(method='get')
              input(type="text" class="form-control m-0" name='search' value=search  id="exampleFormControlInput1" placeholder="Wpisz wyszukiwaną frazę...")
              button(class='btn btn-primary ms-1' type='submit') Szukaj
        div(class='title-media col-4')
          h3(class='title-admin-page') #{title}
      div(class='media-list-bar')
        each item in data
          div(class='media-detail-bar')
            button(type='button' class='media-show-btn border-0' data-bs-toggle="modal" data-bs-target=`#set${item._id}`) 
              img(src=`/images/media/${item.filename}`, alt="")
          div(class="modal fade" id=`set${item._id}` tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
            div(class="modal-dialog modal-dialog-centered")
              div(class="modal-content")
                div(class="modal-header")
                  h5(class="modal-title" id="exampleModalLabel") #{item.title}
                  button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                  img(src=`/images/media/${item.filename}`, alt="")
                  p(class='p-description py-2')=item.description
                  p(class='p-add-date py-2') Data dodania: #{item.date.getFullYear()}:#{item.date.getMonth() + 1}:#{item.date.getDate()}
                  p(class='p-author py-2') Autor: #{item.author}
                  p(class='p-author py-2') Galeria: #{item.gallery}
                div(class="modal-footer")
                  button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Zamknij
                  a(href=`media/edit/${item._id}`) 
                    button(type="submit" class="btn btn-warning") Edytuj
                  form(action='media/delete/' method='post')
                    input(class='input-invisible' type='text' name='id' value=`${item._id}`)
                    input(class='input-invisible' type='text' name='filename' value=`${item.filename}`)
                    button(type="submit" class="btn btn-danger") Usuń