extends ../layout

block content
  div(class='admin-index-bar row m-0')
    div(class='menu-column col-2 py-3')
      div(class='user-info-bar') 
        p(class='username-bar') #{userName} #{userSurname}
          img(src=`/images/avatars/${userAvatar}.jpg`, alt="" class='user-avatar')
      div(class='buttons-bar p-3')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('About', '/admin/about-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('News', '/admin/news-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('Project', '/admin/project-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('Quizes', '/admin/quizes-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Users', '/admin/users-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Settings', '/admin/settings-list')
    div(class='content-column col-10 py-5')
      h3(class='title-admin-page') #{title}
      if errors.errors !== undefined 
          each message in errors.errors 
              p(class='validation-alert')=message
      form(method='post')
          div(class='mb-3')
              label(class='form-label mx-2') Tytuł:
              input(type='text' name='title' class='form-control' value=body.title || '' )
          div(class='mb-3')
              label(class='form-label mx-2') Kategoria:
              input(type='text' name='category' class='form-control' value=body.title || '' )
          div(class='mb-3')
              label(class='form-label mx-2') Autor:
              input(type='text' name='author' class='form-control' value=body.author || '' )
          div(class='mb-3')
              label(class='form-label mx-2') Opis:
              textarea(class='form-control' type='text' name='description' rows='5')=body.description || ''
          div(class='mb-3')
              label(class='form-label mx-2') Treść artykułu:
              textarea(class='form-control' type='text' name='articleText' rows='5')=body.description || ''
          button(type='submit' class='btn btn-primary') Dodaj