extends ../layout

block content
  div(class='admin-index-bar row m-0')
    div(class='menu-column col-2 py-5')
      div(class='user-info-bar') 
        p(class='username-bar') #{userName} #{userSurname}
          img(src=`/images/media/${userAvatar}`, alt="" class='user-avatar')
      div(class='buttons-bar p-3')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('About', '/admin/about-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('News', '/admin/news-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('Project', '/admin/project-list')
        button(class='btn btn-primary w-100 my-1')
          +menuItem('Quizes', '/admin/quizes-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Users', '/admin/users-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Media', '/admin/media-list')
        button(class='btn btn-info w-100 my-1')
          +menuItem('Settings', '/admin/settings-list')
    div(class='content-column col-10 py-5')
      div(class='row m-0')
        div(class='menu-media col-4')
          a(href="project/add")
            button(class='btn btn-primary me-1') Dodaj plik
        div(class='search-media col-4')
            form(method='get')
              input(type="text" class="form-control m-0" name='search' value=search  id="exampleFormControlInput1" placeholder="Wpisz wyszukiwaną frazę...")
              button(class='btn btn-primary ms-1' type='submit') Szukaj
        div(class='title-media col-4')
          h3(class='title-admin-page') #{title}
        div(class='list-bar')
          each item, index in data 
            div(class='row my-1 news-detail-bar')
              div(class='col-1 id-bar')=index + 1
              div(class='col-4 title-bar')
                div(class='title-title') 
                  p=item.title 
                div(class='title-data')  
                  p Data: #{item.created.getFullYear()}:#{item.created.getMonth() + 1}:#{item.created.getDate()} Autor: #{item.author}
              div(class='col-2 picture-bar')
                img(src=`/images/media/${item.picture}`, alt="") 
              div(class='col-3 stat-bar')
                div(class='title-title') 
                  p Technologie: 
                    span(class='text-light') #{item.technology} 
                div(class='title-data') 
                  p Pozytywne: 0 Negatywne: 0
              div(class='col-2 action-bar')
                form( method="post" action="/admin/projects/delete/") 
                    input(class='input-invisible' type='text' name='id' value=`${item._id}`)
                    input(class='input-invisible' type='text' name='picture' value=`${item.picture}`)
                    button(class='action-btn btn btn-danger mx-1' type='submit') usuń
                    a(href=`/admin/projects/edit/${item._id}`)
                      button(type="button" class='action-btn btn btn-warning mx-1') edytuj 
                    a(href=`/admin/projects/show/${item._id}`)
                      button(class='action-btn btn btn-success mx-1' type='button') pokaż