extends layout

block content
  div(class='register-bar px-5')
    div(class='register-form-bar row  row-cols-1 row-cols-md-1 row-cols-lg-3 p-5')
        div(class='register-col col')
            h3 Informacja o rejestracji
            div(class='registration-info')
                p Rejestracja na stronie jest fikcyjna i ma charakter poglądowy. Jeśli jesteś na tej stronie to z pewnością otrzymałeś testowy login i hasło. Zaloguj się żebyś mógł korzystać z systemu zarządzania treścią na stronie. Jeśli nie jesteś zainteresowany to nie loguj się, a już z pewnością nie niszcz mojej pracy.
            h3 Ostatnio zarejestrowani 
            div(class='register-last-user')
                each item in data
                    div(class='user-avatar-bar p-2 text-center') 
                        img(src=`/images/media/${item.avatar}`, alt="" class='user-avatar')
                        p(class='text-center py-2') #{item.nick}
        div(class='register-col col')
            h3 Rejestracja konta
            if passMessage
                h3 #{passMessage} 
            if errors.errors !== undefined 
                each message in errors.errors 
                    p(class='validation-alert')=message
            div(class='row')
                div(class='col labels-column')
                    p(class='form-label') Nazwa użytkownika:
                    p(class='form-label') Imię:
                    p(class='form-label') Nazwisko:
                    p(class='form-label') Email:
                    p(class='form-label') Hasło:
                    p(class='form-label') Potwerdź hasło:
                    p(class='form-check-label') Akceptuję regulamin:
                    p(class='form-label') Adres:
                    p(class='form-label') Kod:
                    p(class='form-label') Miasto:
                    p(class='form-label') Telefon:
                    p(class='form-label') Komórkowy:
                    p(class='form-label') Fax:
                div(class='col input-column')
                    form(method='post' action='/register')
                        input(type="text" class="form-control" name='nick' placeholder="nazwa użytkownika")
                        input(type="text" class="form-control" name='name' placeholder="imię użytkownika")
                        input(type="text" class="form-control" name='surname' placeholder="nazwisko użytkownika")
                        input(type="email" class="form-control" name='email' placeholder="email użytkownika")
                        input(type="password" class="form-control" name='password')
                        input(type="password" class="form-control" name='passwordconf')
                        input(class="form-check-input" type="checkbox" name='rulacc' value="true" id="flexCheckDefault")
                        input(class="form-control" type="text" name='adres' placeholder="ulica/nr domu/nr lokalu")
                        input(class="form-control" type="text"  name='kod' placeholder="kod pocztowy")
                        input(class="form-control" type="text"  name='city' placeholder="miasto")
                        input(class="form-control" type="text"  name='phone' placeholder="nr telefonu")
                        input(class="form-control" type="text"  name='mobile' placeholder="nr telefonu komórkowego")
                        input(class="form-control" type="text"  name='fax' placeholder="nr faxu")
                        button(class='btn btn-primary my-2' type='submit') Zarejestruj
        div(class='register-col col')
            h3 Regulamin użytkownika
            each item in rules 
                p(class='p-nr') §#{item.nr}
                p(class='p-title') #{item.title}
                p(class='p-description') #{item.description}

